
body {
	color: darkslategray;
	text-align: justify;
	font-style: italic;
    
}

p {
	padding-left: 20%;
	padding-right: 20%;	
	padding: 50px 20%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 { 
	text-align: center;
    color:plum;
    text-transform: uppercase;
}
         h2, h3 { 
	text-align: center;
    color:plum;
}

hr {border: lightslategray dotted 50%;}

i, em { 
	font-style: italic; 
	font-weight: bold; 
}

b, strong { color: plum; }

#big-achievement{background-color: red;}