
body {
	color: darkslategray;
    text-align: justify;
    
}

p {
	padding-left: 20%;
	padding-right: 20%;	
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1, h3 { 
	text-align: center;
	color:plum;

}

h2 { 
	text-align: right;
	color:lightslategray;
		
}

hr {border: lightslategray dotted 50%;}

i, em { 
	font-style: italic; 
	font-weight: bold; 
}

b, strong { color: plum; }